* {
    font-size: 18px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

body {
    width: 100%;
    overflow-x: hidden;
}

.navbar ul li a:hover {
    color: #8806CE;
}

#header a {
    background-color: #3700B3;
    color: white;
}

#header a:hover {
    background-color: #8806CE;
}

#about img {
    width: 230px;
    height: auto;
    border-radius: 100%;
    border: 5px double;
}

#about img:hover {
    border-color: #8806CE;
}

#about a {
    background-color: #3700B3;
    color: white;
}

#about a:hover {
    background-color: #8806CE;
}

#skill .btn {
    background-color: #3700B3;
    color: white;
}

#skill .btn:hover {
    background-color: #8806CE;
}

#skill li {
    border-bottom: 1px solid white;
    display: table;
    width: 100%;
    padding: 5px;
}

#skill li span {
    float: right;
}

#skill #skillcard .circleskill {
    background-color: #1F1B24;
    height: 250px;
    width: 250px;
    margin: auto;
    padding: 70px 0;
    border: 3px double white;
    text-align: center;
}

#skill #skillcard .circleskill:hover {
    background-color: #8806CE;
    transition: 0.5s;
}

#contact #icon a {
    border-radius: 100%;
    background-color: #8806CE;
}

#contact #icon a:hover {
    transition: 0.5s;
    background-color: white;
}

#contact #icon a i {
    transform: scale(1.5);
}

#contact #icon a i:hover {
    color: #8806CE !important;
    border-radius: 100%;
}

#contact #message input {
    background-color: #1F1B24;
    color: white;
    height: 3em;
    border: 0;
}

#contact #message textarea {
    background-color: #1F1B24;
    color: white;
    height: 7em;
    border: 0;
}

#contact #message input::placeholder {
    color: white;
}

#contact #message textarea::placeholder {
    color: white;
}

#contact #message a {
    background-color: #3700B3;
    color: white;
}

#contact #message a:hover {
    background-color: #8806CE;
    color: white;
}

#education #project a {
    background-color: #3700B3;
    color: white;
}

#education #project a:hover {
    background-color: #8806CE;
    color: white;
}

#education #project img {
    width: 250px;
    height: auto;
    border-radius: 5px;
    border: 5px;
    border-style: double;
}

#education #project img:hover {
    border-color: #8806CE;
}

#arrowup a {
    background-color: #3700B3;
    color: white;
    position: fixed;
    bottom: 5px;
    right: 5px;
}

#arrowup a:hover {
    background-color: #8806CE;
}