* {
    font-size: 18px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.navbar ul li a:hover {
    color: #8806CE;
}

#header .container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 70px;
    width: 60%;
}

#header a {
    background-color: #8806CE;
    color: white;
}

#header a:hover {
    background-color: white;
    transition: 0.5s;
    color: #8806CE;
}

#header a:hover i {
    color: #8806CE;
    transition: 0.5s;
}


#about img {
    width: 230px;
    height: auto;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
    border: 5px inset #8806CE;
}

#about a {
    background-color: #8806CE;
    color: white;
}

#about a:hover {
    background-color: white;
    color: #8806CE;
    transition: 0.5s;
}

#about a:hover i {
    color: #8806CE;
    transition: 0.5s;
}

#skill .btn {
    background-color: #3700B3;
    color: white;
}

#skill .btn:hover {
    background-color: #8806CE;
}

#skill li {
    border-bottom: 1px solid white;
    display: table;
    width: 100%;
    padding: 5px;
}

#skill li span {
    float: right;
}

#contact #icon a {
    border-radius: 100%;
    background-color: #8806CE;
}

#contact #icon a:hover {
    background-color: white;
    transition: 0.5s;
}

#contact #icon a:hover i {
    color: #8806CE;
    transition: 0.5s;
}

#contact #message input {
    background-color: #1F1B24;
    color: white;
    height: 3em;
    border: 0;
}

#contact #message textarea {
    background-color: #1F1B24;
    color: white;
    height: 7em;
    border: 0;
}

#contact #message input::placeholder {
    color: white;
}

#contact #message textarea::placeholder {
    color: white;
}

#contact #message a {
    background-color: #8806CE;
    color: white;
}

#contact #message a:hover {
    background-color: white;
    color: #8806CE;
    transition: 0.5s;
}

#contact #message a:hover i {
    color: #8806CE;
    transition: 0.5s;
}

#project a {
    background-color: #8806CE;
    color: white;
}

#project a:hover {
    background-color: white;
    color: #8806CE;
    transition: 0.5s;
}

#project a:hover i {
    color: #8806CE;
    transition: 0.5s;
}

#project .project-gif img {
    width: 280px;
    height: auto;
    border-radius: 5px;
    border: 5px;
    border-style: inset;
    border-color: #8806CE;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#project span {
    padding: 5px 8px;
    margin: 5px;
    background-color: #8806CE;
    border-radius: 10px;
    display: inline-block;
}

#project span:hover {
    background-color: white;
    color: #8806CE;
    transition: 0.5s;
}

#project .project-img img {
    border: #8806CE inset;
}

#arrowup a {
    background-color: #8806CE;
    color: white;
    position: fixed;
    bottom: 5px;
    right: 5px;
}

#arrowup a:hover {
    background-color: white;
    transition: 0.5s;
}

#arrowup a:hover i {
    color: #8806CE;
    transition: 0.5s;
}

#qualification .certificates li a{
    color: white;
    text-decoration: none;
}

#qualification .certificates li a:hover{
    color: #8806CE;
    transition: 0.2s;
}

#qualification .certificates li a:hover i{
    color: #8806CE;
    transition: 0.2s;
}

#qualification ul {
    list-style: none;
    padding: 0;
    margin: 0;
}